/node_modules
/public/hot
/public/storage
/public/admin_assets
/public/user_assets
/public/end-user
/public/admin
/public/uploads
/public/common
/public/images
/public/libs
/public/mix-manifest.json
/public/manager
/public/user
/public/admin
/public/excels
/public/xml
/storage/*
/storage/*.key
/storage/debugbar/*
storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Resource Language
/resources/lang/labels.xlsx
/resources/lang/messages.xlsx

# Lock File
composer.lock
package-lock.json
